body {
  text-align: center;
  padding: 50px;
  margin: 50px;
}
p {
  color: white;
}
h1, h2, h3 {
 font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  text-align: center;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 25px darkorange, 0 0 5px red;
  font-size: 50px;
}
h2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px darkorange, 0 0 5px red;
}
h3 {
  color: #166B8C;
}
#explore {
  text-align: center;
  color: #F27405;
}
#journey {
  text-align: center;
  color: #F27405;
}
body { background-color:#012340; border: 5px solid; margin: 10px; padding: 20px;
 font-family: 'Merriweather Sans', sans-serif;
  text-color:#166B8C;
  border-color: #F27405;
}
nav {
text-align: center; border: 3px dashed; margin: 10px; padding: 10px;
  font-size: 20px;
  border-color: #F27405;
}
img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}
/*this is my audio*/
audio::-webkit-media-controls-panel {
  background-color: #012340;
}
a {
font-family: 'Merriweather Sans', sans-serif;
}
a:link {
  color: #166B8C;
}
a:visited {
  color: white;
}
a:hover {
  color: #F27405;
}

#begin {
  color: #166B8C
}
.center {
  margin: auto;
}
/*this is my animation*/
.ocean{
  animation: fontweight 3s alternate-reverse infinite;
}
@keyframes fontweight{
  from{font-weight:300}
  to{font-weight:800};
}

.puzzlepiece {
  animation: spin 10s infinite;
  
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(-180deg);}
}
.eyes {
  animation: slide 2s infinite;
}
@keyframes slide {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}
